@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  height: 100%;
}

body > div {
  height: 100%;
}
